/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.foos-score-box-form input {
    width: 20px;
}

.foos-menu-selector {
    text-align: center;
    border-radius: 5px;
    margin: 10px;
}

.foos-menu-selector:hover {
    cursor: pointer;
    background-color: lightgray;
}